<div class="panel-header bg-primary-gradient">
  <div class="page-inner py-5">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
      <div>
        <h2 class="text-white pb-2 fw-bold">Editing Photo Gallery</h2>
      </div>
      <div class="ml-md-auto py-2 py-md-0">
        <a href="#" class="btn btn-white btn-border btn-round mr-2">Photo Gallery</a>
        <%= link_to 'Back', photo_galleries_path, class:"btn btn-white btn-border btn-round mr-2" %>
      </div>
    </div>
  </div>
</div>
<div class="card p-4">
  <div class="card-header">
    <div class="card-title">Photo Gallery</div>
  </div>

  <%= render 'form', photo_gallery: @photo_gallery %>
</div>

